<ion-view view-title="Iniciar sesión" name="login-view">
  <ion-content class="padding">
      <img src="img/logo.png" class="center-image"></img>
      <h4 class="text-center">Iniciar sesión</h4>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Email de usuario" ng-model="data.client_number">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()" >Iniciar sesión</button>
  </ion-content>
</ion-view>