<ion-view view-title="Monitoreo activo">
  <ion-content class="padding">
	<h2>Reportes</h2>
    
	<div>
	    <p ng-repeat="item in report">
	      	{{item.id}} {{item.created_at}}
	    </p>
  	</div>

  </ion-content>
</ion-view>
