<ion-view view-title="Monitoreo activo">
  <ion-content class="padding">
    <h2>Bienvenido {{ currentUser.name }} {{ currentUser.last_name }}</h2>
    <p>
    This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
    </p>
    <p>
      To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
    </p>
    <p>
    If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
    </p>
    <p>
      <b>Psst!</b> - Try <a href="http://view.ionic.io/">Ionic View</a> to easily share and test your app with clients and co-workers.
    </p>
    <ion-toggle ng-model="a.notification" ng-checked="a.notification" ng-change="change()" toggle-class="toggle-calm">
    Activar o desactivar monitoreo</ion-toggle>

  </ion-content>
</ion-view>
