<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h5 class="title">{{currentUser.name}} {{ currentUser.last_name }}</h5>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="pointer" ui-sref-active="active" nav-clear menu-close ui-sref="tab.dash">
          <i class="ion-home"></i> Inicio
        </ion-item>
        <ion-item class="pointer" ui-sref-active="active" nav-clear menu-close ui-sref="tab.account">
          <i class="ion-clipboard"></i> Reportes
        </ion-item>

        <ion-item ng-controller="LogoutCtrl" class="pointer" menu-close ng-click="logout()">
          <i class="icon ion-log-out"></i> Salir
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>